* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #__next {
  margin: 0 !important;
  padding: 0 !important;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  background: #2a4674;
}